.blog_container {
  position: relative;
  padding: 1rem;
  border: 2px solid transparent;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
}

.blog_container::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  border: 2px solid transparent;
  mask-image: linear-gradient(0deg, transparent 50%, white 100%);
  -webkit-mask-image: linear-gradient(0deg, transparent 50%, white 100%);
  animation: borderAnimation 2s linear infinite;
}

@keyframes borderAnimation {
  0% {
    mask-position: 100% 0%;
    -webkit-mask-position: 100% 0%;
  }
  100% {
    mask-position: 0% 100%;
    -webkit-mask-position: 0% 100%;
  }
}

.blog_container:hover::before {
  border-color: rgba(255, 255, 255, 0.8);
}

.blog_container .blog_image_container {
  @apply w-full  h-52 relative mb-6;
}
.blog_container .heading {
  @apply mb-3 text-[17px] leading-[24px] tracking-[-0.22px] font-medium text-[var(--color-text-primary)];
}

.blog_container .paragraph {
  @apply text-[var(--color-text-tertiary)] text-[15px] leading-[23px] tracking-[-0.16px] block mb-6;
}
.blog_container .blog_image {
  @apply rounded-md;
}
